<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width = device-width , initial-scale = 1">
        <link href = '/css/detailStyle.css' rel="stylesheet">
        <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>           
            <h1 id='titulo'><%=productD.name%></h1>
            <br>
            <div>
            <div class= "productDetaill">
                
                <img id='producto' src="/imagenes/productImages/<%=productD.productImage%>" class= "prodDetailImg"> 
                <br>
                <div id="det">
                    <br>
                    <div class= "productInfo">
                    <div id='precio'>$<%=productD.price%></div>
                    <br id='espacioCuota'>
                    <div id='cuotas'> 6 cuotas sin interes de $<%=(productD.price)/6%></div>
                    <br id='espacioCuota'>
                    <div> Tamaño  
                        <br>
                        <input type="radio" value="mini" name='tamaño'> Mini </input>
                        <br>
                        <input type="radio" value="medio" name='tamaño'> Medio </input>
                        <br>
                        <input type="radio" value="grande" name='tamaño'> Grande </input>
                    </div>
                    
                
                <div id="fav">
                    <a href="/cart"><i class="fas fa-shopping-cart"></i> </a>
                    <i class="far fa-heart"></i>
                </div>
                <div class='descrip'>
                    <p> <%=productD.description%></p>
                </div> </div> </div> </div>
                    <p class="nota"> La imagen es solo a modo ilustrativo. Cada planta es única. Además, las plantas, al tratarse de seres vivos que requieren de nuestro cuidado, una vez adquiridas no tendrán cambio o devolución!
                    </p>
                </div>
               
                <h2>Productos relacionados</h2>
                <div id="relacionados"> 
                <br>
                <% for(let i=0; i<relatedProduct.length; i++){ %>
                <% if(relatedProduct[i] != productD) {%>
                        <span class="prod">  
                             <a class="productList-anchor" href="/product/detail/<%=relatedProduct[i].id %>">            
                                <img src="/imagenes/productImages/<%=relatedProduct[i].productImage%>" class='relacionados'>
                             </a> 
                            <h2 class= 'titRelacionado'>
                                <%=relatedProduct[i].name%>
                            </h2>
                            <h2 class="precioRelac">
                                $<%=relatedProduct[i].price%>
                            </h2>
                            <h2 class='cuotasSn'> <i class="far fa-credit-card"></i>
                                6 cuotas s/i de $<%= Math.round(relatedProduct[i].price/6) %>
                            </h2>
                        </span>
                <%}%>
                <%}%>
                </div>     
        </main>
        <%- include('../partials/footer') %>
        <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>
    </body>
</html>